<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
<head>
	<title>사용자 등록</title>
	<link href="/menu.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<div id="Content">
		<form th:action="@{/post/register}" th:object="${post}" method="Post">
			<fieldset>
				<legend>글 등록</legend>

				<p>
					<label>글 제목</label>
					<input type="name" name="subject" />
				</p>
				<p>
					<label>글 내용</label>
					<textarea name="content" cols="50" rows="10"/>
					<!--<input type="name" name="content" />-->
				</p>

				<p>
					<!--<label>카테고리</label>-->
					<input type="name" name="postCategory" th:value="${category_id}"/>
					<!--<textarea name="content" cols="50" th:value="${category_id}" rows="10" th:field="*{content}"/>-->
				</p>
				<p>
					<input type="name" name="user" th:value="${user}" />
				</p>

				<p>
					<input type="submit" value="등록" />
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>

<!--<form th:action="@{/registerProcessing}" th:object="${user}" method="post">-->
	<!--<h2>회원가입</h2>-->

	<!--<input type="text" name="email" th:field="*{email}" placeholder="이메일" required="required"/>-->
	<!--<input type="password" name="password" th:field="*{password}" placeholder="암호" required="required"/>-->
	<!--<input type="text" name="name" th:field="*{name}" placeholder="이름" required="required"/>-->
	<!--<input type="submit" value="회원가입"/>-->
<!--</form>-->