<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>사용자 등록</title>

    <link href="/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<div id="Content">
    아이디 : <h3 data-th-text="${post.id}"/>
    제목 : <h3 data-th-text="${post.subject}"/>
    내용 : <h3 data-th-text="${post.content}"/>


<div class="replyForm">
    <form th:action="@{/comment/register" th:object="${comment}" method="Post">
        <fieldset>
            <p>
                <label>댓글</label>
                <input type="name" name="content" />
            </p>
            <p>
                <input type="hidden" name="post" th:value="${post.getId()}"/>
            </p>
            <p>
                <input type="hidden" name="user" th:value="${user.getId()}"/>
            </p>
            <p>
                <input type="submit" value="등록" />
            </p>
        </fieldset>
    </form>

    <div>
        <ul class="replyGroup">
            <li th:each="reply : ${replies}">
                <h3 th:text="${reply.getUser().getUserid()}"></h3>
                <p th:text="${reply.getContent()}">내용</p>
            </li>
        </ul>
    </div>

</div>
ttttt
</div>
</body>



</html>