<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<header th:fragment="headerFragment">
    <a href="/index"><h1>메인</h1></a>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">어드민 페이지로 이동</a><br/></div>
    <div sec:authorize="hasRole('ROLE_USER')"><a href="/user">유저 페이지로 이동</a><br/></div>

    <div sec:authorize="isAnonymous()"><a href="/registerForm">회원가입 페이지로 이동</a><br/></div>
    <div sec:authorize="isAnonymous()"><a href="/login">로그인 페이지로 이동</a><br/></div>

</header>

</body>
</html>