<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>사용자 등록</title>
    <link href="/menu.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<div id="Content">


<h1>유저 페이지</h1>

    <!--<span sec:authentication="principal.userid">님!!</span>-->
    <span sec:authentication="principal.nick"></span><span>님</span>
    <div th:text="${#authentication.name}+님"></div>





    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" value="로그아웃"/>
    </form>
</div>

</body>
</html>